<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.euler.payment.mapper.ComplaintResponseMapper">

    <resultMap type="com.euler.payment.domain.ComplaintResponse" id="ComplaintResponseResult">
        <result property="id" column="id"/>
        <result property="complaintId" column="complaint_id"/>
        <result property="complaintedMchid" column="complainted_mchid"/>
        <result property="responseContent" column="response_content"/>
        <result property="responseImages" column="response_images"/>
        <result property="jumpUrl" column="jump_url"/>
        <result property="jumpUrlText" column="jump_url_text"/>
        <result property="responseCode" column="response_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
