<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.euler.risk.mapper.AdvertisingCostMapper">

    <resultMap type="com.euler.risk.domain.entity.AdvertisingCost" id="AdvertisingCostResult">
        <result property="id" column="id"/>
        <result property="advertisingPlatform" column="advertising_platform"/>
        <result property="costDate" column="cost_date"/>
        <result property="cost" column="cost"/>
        <result property="mediaId" column="media_id"/>
        <result property="mediaName" column="media_name"/>
        <result property="gameId" column="game_id"/>
        <result property="gameName" column="game_name"/>
        <result property="gameOperationPlatform" column="game_operation_platform"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>

