<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.euler.risk.mapper.BehaviorMapper">

    <resultMap type="com.euler.risk.api.domain.Behavior" id="BehaviorResult">
        <result property="id" column="id"/>
        <result property="msgId" column="msg_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="behaviorTypeId" column="behavior_type_id"/>
        <result property="behaviorData" column="behavior_data"/>
        <result property="account" column="account"/>
        <result property="mobile" column="mobile"/>
        <result property="userId" column="user_id"/>
        <result property="gameId" column="game_id"/>
        <result property="ip" column="ip"/>
        <result property="appId" column="app_id"/>
        <result property="version" column="version"/>
        <result property="platform" column="platform"/>
        <result property="device" column="device"/>
        <result property="mobileType" column="mobile_type"/>
        <result property="deviceMac" column="device_mac"/>
        <result property="deviceOaid" column="device_oaid"/>
        <result property="deviceImei" column="device_imei"/>
        <result property="deviceAndroid" column="device_android"/>
        <result property="deviceUuid" column="device_uuid"/>
        <result property="deviceIdfa" column="device_idfa"/>
        <result property="devicePushId" column="device_push_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


</mapper>
