<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.euler.risk.mapper.TdDeviceMemberMapper">

    <resultMap type="com.euler.risk.domain.entity.TdDeviceMember" id="TdDeviceMemberResult">
    <result property="id" column="id"/>
    <result property="deviceId" column="device_id"/>
    <result property="createTime" column="create_time"/>
    <result property="account" column="account"/>
    <result property="mobile" column="mobile"/>
    <result property="userId" column="user_id"/>
    </resultMap>

</mapper>
