package ${packageName}.mapper;

import com.euler.common.mybatis.core.mapper.BaseMapperPlus;
import ${packageName}.domain.entity.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;
import org.apache.ibatis.annotations.Mapper;


/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}Mapper, ${ClassName}, ${ClassName}Vo> {

}
