<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.euler.statistics.mapper.TdMeasureMapper">

    <resultMap type="com.euler.statistics.domain.entity.TdMeasure" id="TdMeasureResult">
    <result property="id" column="id"/>
    <result property="modelId" column="model_id"/>
    <result property="modelName" column="model_name"/>
    <result property="measureId" column="measure_id"/>
    <result property="measureName" column="measure_name"/>
    <result property="measureDesc" column="measure_desc"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
